@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #23242a;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
}

main {
    background-color: #1c1c1c;
    width: 420px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #00000023;
}

main h1 {
    text-align: center;
    color: #ff0000;
    font-weight: 500;
    font-size: 30px;
}

.form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form:nth-child(2) {
    display: none;
}

input {
    font-size: 16px;
    padding: 10px 0px;
    margin-top: 30px;
    min-width: 300px;
    border: none;
    border-bottom: #ff0000 solid 2px;
    background-color: transparent;
    color: #fff;
}

input:focus {
    outline: none;
    background-color: #ffffff0a;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 0px;
    font-size: 14px;
    min-width: 300px;
    padding: 0px 0px;
}

.sign {
    color: #ff0000;
    cursor: pointer;
}

.forgot {
    color: #a1a1a1;
    
}

a:hover {
    text-decoration: underline;
}

.btn {
    cursor: pointer;
    margin-top: 50px;
    padding: 15px 40px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    transition: .3s;
    text-transform: uppercase;
}

.register {
    margin-top: 20px;
}

.btn:hover {
    background-color: #c90000;
}